doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My only wealth 
        link(rel="stylesheet", href="style.css")
    body 
        div 
            section 
                h3.lavender My kindest God 
                h3.salmon God is very patient 
            table (border='1')
                each user in users
                   tr 
                      td #{user.id}
                      td #{user.name}
            each name in ["Maryam","Mona","Mahsa"]
                li=name
            each value,key in {a:1,b:2}
                ur #{value} : #{key}
            include partials/_header
            include partials/_footer
            include partials/_section
            