doctype html 
html (lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width , initial-scale=1.0")
        link(rel="styleseet" href="style.css")
        link(rel="styleseet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

        title Document 
    body 
        div 
           header.purple 
                h2 pug tmplate Engin 
            section 
                h2.hotPink #{section}
                p.springGreen its site
                table (bordar='1')
                     each user in users 
                       tr 
                           td #{user.id}
                           td #{user.age}
                           td #{user.name}
                each num in ["Maryam" , "Mobina", "Morteza", "Ali", "Raziyeh"]
                    ol 
                        li=num 
                each Value,key in {a:1, b:2}
                    li #{key} : #{Value}
            footer 
                h3.hotpink footer  of my web app 
                p 
                    a(href="link" target="blank") #{link}